{
  "$schema": "http://json.schemastore.org/prettierrc",
  "printWidth": 80,
  "endOfLine": "lf",
  "useTabs": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "es5",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@local/(.*)$",
    "^@/config/(.*)$",
    "^@/services/(.*)$",
    "^@/context/(.*)$",
    "^@/lib/(.*)$",
    "^@/hooks/(.*)$",
    "^@/types$",
    "",
    "^@/components",
    "",
    "^@/components/(.*)$",
    "^@/styles/(.*)$",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
